'.source.elm':
  '{-| (doc) -}':
    'prefix': 'doc'
    'body': '{-| $1\n-}'
  'module':
    'prefix': 'module'
    'body': 'module ${1:ModuleName} exposing (${2:exposedFunctions})'
  'function':
    'prefix': 'fn'
    'body':
      """
      ${1:functionName} : ${2:Types}
      ${1:functionName} $3=
      \t${4:body}
      """
  'case':
    'prefix': 'case'
    'body': 'case $1 of\n\t${2:pattern} ->'
  'let-in':
    'prefix': 'let'
    'body':
      """
      let
      \t$1
      in
      $2
      """
